.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/water1.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.background .water {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/water1.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  filter: url("#turbulence");
}
